* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}
p,
a,
button,
li {
  font-family: "Open Sans";
  font-style: normal;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #00252e;
}

.header,
.main-info,
.footer {
  max-width: 1270px;
  margin-inline: auto;
}
.flx {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
header {
  height: 721px;
  background-color: #edfbff;
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
h1 {
  width: 536px;
  font-size: 40px;
  line-height: 60px;
}
h2 {
  font-size: 28px;
  line-height: 42px;
}
p {
  width: 520px;
  color: #00252e;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.logo {
  width: 1270px;
  margin: 0 auto;
  padding-block: 60px 75px;
  justify-content: space-between;
}
.logo a {
  width: 200px;
  height: 48px;
  color: #00252e;
  font-size: 14px;
  font-weight: 700;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding-block: 13px 16px;
  padding-inline: 63px 65px;
}
.logo a:hover {
  color: #808e9a;
  transition: 0.5s;
}
.header {
  width: 1270px;
  height: 482px;
  justify-content: space-between;
  margin-inline: auto;
  padding-top: 86px;
}
.header a {
  margin-top: 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  width: 280px;
  height: 56px;
  border-radius: 28px;
  border: none;
  background: #ff52c1;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
  display: inline-block;
  padding-block: 17px 20px;
  padding-inline: 70px 69px;
}
.header a:hover {
  background-color: #ff9adb;
  box-shadow: (0px 6px 13px rgba(0, 37, 46, 0.22));
  transition: 0.5s;
}
h1 {
  margin-bottom: 32px;
}
.screen {
  width: 684px;
  height: 482px;
  background-image: url(../images/screen2.png), url(../images/screen1.png);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}

/* MAIN */

main {
  padding-block: 160px 344px;
  /* padding-inline: auto; */
  
}
h2 {
  font-size: 28px;
  line-height: 42px;
}
.main-info p {
  margin-top: 16px;
  color: #808e9a;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.main-info img {
  width: 410px;
  height: 334px;
}
.grow_together,
.conversations,
.users {
  width: 1232px;
  height: 440px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px;
  justify-content: space-around;
}
.section-info {
  width: 490px;
}

/* FOOTER */

footer {
  background-color: #00252e;
  color: #fff;
  position: relative;
  margin: 0;
}
.question {
  width: 800px;
  height: 270px;
  margin-inline: auto;
  padding-block: 49px 47px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  left: 50%;
  /* top: -67%; */
  transform: translateX(-50%) translateY(-67%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  align-content: center;
  flex-wrap: wrap;
}
h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
}
.question a {
  width: 400px;
  height: 80px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  background-color: #ff52c1;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.22);
  border-radius: 40px;
  display: inline-block;
  padding-block: 25px;
  padding-inline: 100px 99px;
}
.question a:hover {
  background-color: #ff9adb;
  box-shadow: (0px 6px 13px rgba(0, 37, 46, 0.22));
  transition: 0.5s;
}
.footer {
  width: 1242px;
  padding-block: 144px 64px;
  /* padding-inline: 120px 78px; */
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  line-height: 27px;
  margin: 0;
}

.footer img {
  width: 152px;
  height: 24px;
  margin-bottom: 32px;
}
.footer .flx {
  width: 1242px;
  height: 158px;
  column-gap: 130px;
  align-items: flex-start;
}
address {
  width: 380px;
  /* padding-left: 40px; */
}
.flx address li {
  margin-bottom: 17px;
}
.flx address li:last-child {
  margin-bottom: 0;
}
.footer nav.flx {
  margin: 0;
  justify-content: space-between;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
}
address a:hover,
nav a:hover {
  text-decoration-line: underline;
}
.locate {
  width: 380px;
  padding-inline-start: 40px;
  background-image: url(../images/locate.png);
  background-repeat: no-repeat;
  background-position: left top;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.phone {
  padding-inline-start: 40px;
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.mail {
  padding-inline-start: 40px;
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.social {
  flex-direction: column;
  row-gap: 110px;
}
.social ul {
  display: flex;
  column-gap: 14px;
  height: 32px;
}
.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social a svg:hover path {
  fill: #ff52c1;
  transition: 0.5s;
}

.copyright {
  width: 262px;
  font-family: Poppins;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
